include _mixins.jade
doctype html
html.no-js
	head
		meta(charset='utf-8')
		block title
			title title
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width')
		link(rel='shortcut icon', href='/favicon.ico')
		// Place favicon.ico and apple-touch-icon.png in the root directory
		// build:css(.) styles/vendor.css
		// bower:css
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
		// endbower
		// endbuild
		// build:css(.tmp) styles/main.css
		link(rel='stylesheet', href='styles/main.css')
		// endbuild
	body
		//- <!--[if lt IE 10]>
		//-     <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		//- <![endif]-->
		header
			block header
		main
			block content
			.hero-unit
				h1 'Allo, 'Allo!
				p You now have
				ul
					li HTML5 Boilerplate
					li Sass
		footer
			block footer
		// build:js(.) scripts/vendor.js
		// bower:js
		script(src='/bower_components/jquery/dist/jquery.js')
		script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
		// endbower
		// endbuild
		// Google Analytics: change UA-XXXXX-X to be your site's ID.
		script.
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
		// build:js({app,.tmp}) scripts/main.js
		script(src='scripts/main.js')
		// endbuild